[user]
  name = Bob Black
  email = bob.black@sportngin.com
[color]
  ui = true
[alias]
  ap = add --patch
  rp = reset --patch
  b = branch
  co = checkout
  ci = commit
  cv = commit -v
  ca = commit -v --amend
  d = diff
  do = diff --ours
  dt = diff --theirs
  lp = log --patch
  s = status
[push]
  default = current
