[user]
  name = Bob Black
  email = bob.black@sportngin.com
[color]
  ui = true
[alias]
  ap = add --patch
  rp = reset --patch
  lp = log --patch
  co = checkout
  cv = commit -v
  ca = commit -v --amend
[push]
  default = current
